<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
<%- include('./partials/navbar') %>
<br>
<br>
<h1> Welcome to postsite </h1>
<p> Use navbar to navigate </p>

<%- include('./partials/footer') %>
</body>
<style>
    body {
        background-color: dodgerblue;
    }

    h1 {
        color:white;
        font-family: Avenir;
    }
</style>
</html>