<footer class="footer">
    <div class="footer-container">
        <div class="footer-text">
            <a href="../contactus.ejs">Contact us</a>
        </div>
    </div>
    <p>© WAD 2021 </p>
</footer>

<style>
    footer {
        text-align: center;
        padding: 20px;
        font-family: Avenir;
    }

    .footer-container {
        height: 100px;
        width: 100%;
        background-color: #1e90ff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .footer-text a {
        font-size: 18px;
        color: white;

    }
</style>