header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}
nav {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    font-family: Avenir;
    font-size: 18px;
}

body {
    background-color: dodgerblue;
}

h1 {
    color:white;
    font-family: Avenir;
}


.create {
    text-align: center;
    padding-top: 50px;
    color: white;
    font-family: Avenir;
}

.container {
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e90ff;
}

.create-post {
    height: 220px;
    width: 325px;
    background: #fff;
    padding: 50px;
    border-radius: 5px;
    position: relative;
    text-align: center;
}

label {
    font-family: Avenir;
}

.textbox {
    font-family: Avenir;
    box-sizing: border-box;
    border: 2px solid rosybrown;
    height: 30px;
    margin: 3px 0;
    border-radius: 5px;
}

button {
    font-family: Avenir;
    background-color: DodgerBlue;
    color: White;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    height: 40px;
}

button:hover {
    background-color: deepskyblue;
}

footer {
    text-align: center;
    padding: 20px;
    font-family: Avenir;
}